@import "./bourbon/bourbon";
@import "./neat/neat";
@import "./partials/_colors";
@import "./partials/_fonts";

body {
  @include outer-container;
  background: $base3;
  color: $textColor;
  font-family: 'abel', cursive;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h5, p {
  margin: 0;
  font-weight: normal;
}

.header {
  h1 {
    font-family: 'CodyStar', cursive;
    font-size: 1.5em; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: em(15px, 30px);
    padding-right: em(15px, 30px);
    padding-bottom: 0.5em;
    text-align: right;
    letter-spacing: -1px;
    border-bottom: 2px solid $red;
    a {
      color: $base03;
    }
  }
}
  
span {
 color: $base1;
}

.main {
  padding-left: em(30px, 30px);
  padding-right: em(30px, 30px);
  @include row;
  
  p {
    margin-bottom: em(24px, 16px);
  }
  
  .posts {
    @include span-columns(12);
    @include fill-parent;
    padding-left: 0;
  }
  
  .list-item {
    @include span-columns(6);
    @include omega(2n);
    font-family: 'CodyStar', cursive;
    font-size: 1.3em; 
    list-style: none;
    background: $base2;
    margin-bottom: em(30px, 30px);
    padding: em(30px, 30px);
    
    span {
      font-family: 'Abel', normal;
      font-size: em(10px, 16px);
      color: $base1;
    }

    a {
      color: $base03;
    }

    &:hover {
      a {
        color: $base2;
      }
      background: $red;
    }
  }

}

a {
  text-decoration: none;
}
  

.contact {
  padding-left: em(30px, 30px);
  padding-right: em(30px, 30px);
}

footer {
  margin-top: 0.5em;
  border-top: 2px solid $red;
}
